@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

.profilePhoto {
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.iconeSize {
    font-size: 30px;
}

.iconColorGit {
    color: #171515;
}

.iconColorGitP {
    color: #400191;
}

.iconColorIg {
    color: #C13584;
}

.iconColorLink {
    color: #0e76a8;
}

.iconColorWpp{
    color: #128C7E;
}

.title {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.profile {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
}

.profile span{
    font-size: 24px;
    margin-bottom: 2rem;
}

.profile p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

li {
    list-style: none;
}
/*
https://cssgradient.io/
*/

body {
    background: rgb(255,54,92);
    background: linear-gradient(45deg, rgba(255,54,92,1) 0%, rgba(255,104,236,1) 46%, rgba(0,211,255,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 8rem;
    margin-bottom: 40vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.motherBox {
    padding: 0 16px;
}

.box {
    background-color: rgb(219, 219, 219);   
    padding: 3rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.social-media {
    display: flex;
    justify-content: center;
    
}

.social-media li {
    margin-left: 1rem;
    
}

.box-projects {
    font-size: 18px;
    background-color: rgb(219, 219, 219);   
    margin-top: 8rem;
    margin-top: 8rem 0;
    max-width: 886px;
    padding: 16px;
    padding: 3rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    
    
}

.round-img {
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 1rem;
    
}

@media (max-width:630px) {

    body {
        margin-top: 4rem;
    }

    .motherBox{
        margin-top: 2rem;
    }

    .title {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
    }
    
    .box {
        padding: 0;
    }

    .profile p{
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }

    .profile span{
        
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .box {
        background-color: rgb(219, 219, 219);   
        padding: 2rem 2rem 2rem 2rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        
    }

    .box-projects.grid{
        margin-top: 4rem;
        grid-template-columns: 1fr;
        text-align:justify;
    }

    .box-projects.grid h2{
        text-align: center;
    }

    .box-projects.grid p{
        font-size: 12px;
        text-align:justify;
    }
    

    .box-projects{
        padding: 16px;
        margin-top: 4rem;
        grid-template-columns: 1fr;
    }

    .box-projects h2{
        text-align: center;
    }

    .box-projects p{
        font-size: 12px;
        text-align: justify;
    }
  

    .round-img {
        border-radius: 18px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

}