@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg0: rgb(255,54,92);
    --bg: linear-gradient(45deg, rgba(255,54,92,1) 0%, rgba(255,104,236,1) 46%, rgba(0,211,255,1) 100%);
    background-repeat: no-repeat;
    --texto: black;
    --shadow: rgba(0, 0, 0, 0.3);
    --git: #171515;
    --gitp: #400191;
    --ig: #C13584;
    --link: #0e76a8;
    --wpp: #128C7E;
    --bgw: rgb(219, 219, 219);
    --copyrihtwhite: white;
    --copyrightblack: black;
    --gold: gold;
    --circle: #0B478C;
    --bttn: black;
    --bgbttn: rgba(0,211,255,1);
}

.dark-mode:root{
    --bg0: rgb(3,1,32);
    --bg: linear-gradient(45deg, rgba(3,1,32,1) 0%, rgba(17,29,129,1) 46%, rgba(83,0,166,1) 100%);
    --texto: rgb(219, 219, 219);
    --bgw: #0A5582;
    --git: #AAAAAA;
    --gitp: black;
    --ig: #fb3958;
    --link: #458eff;
    --wpp: #25D366;
    --gold: gold;
    --circle: #90EE90;
    --bttn: #AAAAAA;
    --bgbttn: rgba(83,0,166,1);

}

a{
    color: var(--ig);  
}

a:hover{
    color: var(--wpp);
} 

input[type="checkbox"]{
    position: absolute;
    
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background-color: var(--bgbttn);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 1rem var(--bttn), 5px 5px 16px var(--shadow);
    transition: 0.2s;
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 5px;
    left: 0.4rem;
    background-color: var(--circle);
    transform: scale(1.2);
    transition: 0.3s;
}

input:checked[type="checkbox"]::before{
    left: 35px;
}



label.DarkMode{
   position: absolute;
   margin-top: -6rem;
   margin-left: -14rem;
}

.profilePhoto {
    border-radius: 50%;
    box-shadow: 5px 5px 15px var(--shadow);
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
}

.iconeSize {
    font-size: 30px;
}

.iconColorGit {
    color: var(--git);
}

.iconColorGitP {
    color: var(--gitp);
}

.iconColorIg {
    color: var(--ig);
}

.iconColorLink {
    color: var(--link);
}

.iconColorWpp{
    color: var(--wpp);
}

.title {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.profile {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
}

.profile span{
    font-size: 24px;
    margin-bottom: 2rem;
}

.profile p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

li {
    list-style: none;
}
/*
https://cssgradient.io/
*/
body {
    background: var(--bg0);
    background: var(--bg);
    min-height: 100vh;
    margin-top: 8rem;
    margin-bottom: 20vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--texto);
    
    
}

.motherBox {
    padding: 0 16px;
}

.box {
    background-color: var(--bgw);   
    padding: 3rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 15px var(--shadow);
    border-radius: 50px;
}

.social-media {
    display: flex;
    justify-content: center;
    
}

.social-media li {
    margin-left: 1rem;
    
}

.box-projects {
    font-size: 18px;
    background-color: var(--bgw);  
    margin-top: 8rem;
    margin-top: 8rem 0;
    max-width: 886px;
    padding: 16px;
    padding: 3rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 15px var(--shadow);
    border-radius: 30px;
    
    
}

.round-img {
    border-radius: 30px;
    box-shadow: 5px 5px 15px var(--shadow);
}

.grid {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 2rem;
    
}

.copyright {
    margin-top: 20vh;
    color: var(--copyrihtwhite);
    text-align: center;
    font-size: 24px;
    text-shadow: 5px 5px 16px var(--shadow);
}

@media (max-width:791px) {

    .box-projects.grid{
        margin-top: 4rem;
        grid-template-columns: 1fr;
        text-align:justify;
    }
}


@media (max-width:630px) {

    body {
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .motherBox{
        margin-top: 2rem;
    }

    .title {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
    }
    
    .box {
        padding: 0;
    }

    .profile p{
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
    }

    .profile span{
        
        font-size: 18px;
        margin-bottom: 1rem;
    }

    label.DarkMode{
        position: absolute;
        margin-top: -5rem;
        margin-left: -14rem;
     }
     

    .box {
        background-color: var(--bgw);   
        padding: 2rem 2rem 2rem 2rem;
        box-shadow: 5px 5px 15px var(--shadow);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        
    }

    .box-projects.grid{
        margin-top: 4rem;
        grid-template-columns: 1fr;
        text-align:justify;
    }

    .box-projects.grid h2{
        text-align: center;
    }

    .box-projects.grid p{
        font-size: 12px;
        text-align:justify;
    }
    

    .box-projects{
        padding: 16px;
        margin-top: 4rem;
        grid-template-columns: 1fr;
    }

    .box-projects h2{
        text-align: center;
    }

    .box-projects p{
        font-size: 12px;
        text-align: justify;
    }
  

    .round-img {
        border-radius: 18px;
        box-shadow: 5px 5px 15px var(--shadow);
    }

    .copyright {
        margin-top: 5rem;
        color: var(--copyrihtwhite);
        text-align: center;
        font-size: 18px;
        text-shadow: 5px 5px 16px var(--copyrightblack);
    }

}

@media (max-width:420px) {
    label.DarkMode{
        position: absolute;
        margin-top: -5rem;
        margin-left: -12rem;
     }
}

@media (max-width:410px) {
    label.DarkMode{
        position: absolute;
        margin-top: -5rem;
        margin-left: -10rem;
     }
}

@media (max-width:320px) {
    label.DarkMode{
        position: absolute;
        margin-top: -5rem;
        margin-left: -9rem;
     }
}

@media (max-width:280px) {
    label.DarkMode{
        position: absolute;
        margin-top: -5rem;
        margin-left: -7.5rem;
     }
}

